@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #f0f0f0;
    font-family: "Roboto" , sans-serif;
    margin: 0;
    padding: 20px;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
    padding: 4px;
    max-width: 457px;
    max-height: 138px;
    border: #000000 1px solid;
}

.icons__content{
    display: flex;
    gap: 24px;
    color: gray;
}

.username{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 14px 0;
}


.bio{
    font-size: 20px;
    color: #000000;
    margin: 14px 0 24px 0;
}


.img__container{
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.main__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.far{
    margin-right: 14px;
}
.fas{
    margin-right: 14px;
}

.done__container{
    font-weight: medium;
    color: #858991;
    font-size: 15px;
}
