body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.card__container{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-right: 20px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

.icons__content{
    display: flex;
    gap: 30px;
    color: gray;
    margin-bottom: 35px;
}

.username{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -8px;
}


.bio{
    font-size: 19px;
    color: #242323;
    margin-bottom: 20px;
}

.icons{
    width: 20px;
    height: 20px;
    color: #f0f0f0;
}

.main__img{
    width: 150px;
}

.icons{
    margin-right: 8px;
}

.far{
    margin-right: 8px;
}
.fas{
    margin-right: 8px;
}

.done__container{
    font-weight: 550;
    font-size: 15px;
}
